.error {
  &__body {
    background: rgba(69, 43, 144, 0.1);
    display: flex;
    min-height: 100vh;
    height: 100%;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__col {
    flex: 0 0 auto;
    width: 50%;
    max-width: 100%;
  }
  &__page {
    height: 100vh;
    padding: 50px;
    position: relative;
    background-blend-mode: luminosity;
    background-size: cover;
  }
  &__inner {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 600px;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 100%;
    text-align: center;
  }
  &__404 {
    position: relative;
    color: #f8b940;
    font-size: 200px;
    letter-spacing: 0px;
    animation: dzError 1s infinite linear alternate-reverse;
    font-weight: 900;
    line-height: 200px;
    margin: auto;
    &::before,
    &::after {
      content: '404';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      left: 2px;
      text-shadow: -2px 0 #f7cf47;
      clip: rect(44px, 450px, 56px, 0);
      animation: dzError1 5s infinite linear alternate-reverse;
    }
    &::after {
      left: -2px;
      text-shadow: -2px 0 #f7cf47, 2px 2px #f7cf47;
      clip: rect(44px, 450px, 56px, 0);
      animation: dzError2 5s infinite linear alternate-reverse;
    }
  }
  &__head {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 1.4;
    font-weight: 500;
  }
  &__btn {
    color: #fff;
    padding: 0.719rem 1.375rem;
    border-radius: 0.375rem;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: inline-block;
    border: 1px solid #f8b940;
    background-color: #f8b940;
    transition: all 0.15s ease-in-out;
    &:hover {
      background-color: #f9c45d;
      border-color: #f9c053;
    }
  }
  @media only screen and (max-width: 61.9375rem) {
    &__col {
      width: 100%;
    }
    &__404 {
      font-size: 150px;
      line-height: 150px;
    }
  }
  @media only screen and (max-width: 35.9375rem) {
    &__404 {
      font-size: 80px;
      line-height: 80px;
      letter-spacing: 5px;
    }
    &__head {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
}

@keyframes dzError1 {
  0% {
    clip: rect(309px, 9999px, 156px, 0);
    transform: skew(0.818deg);
  }
  2.5% {
    clip: rect(73px, 9999px, 291px, 0);
    transform: skew(0.36deg);
  }
  5% {
    clip: rect(12px, 9999px, 182px, 0);
    transform: skew(0.578deg);
  }
  7.5% {
    clip: rect(329px, 9999px, 177px, 0);
    transform: skew(0.738deg);
  }
  10% {
    clip: rect(389px, 9999px, 384px, 0);
    transform: skew(0.268deg);
  }
  12.5% {
    clip: rect(87px, 9999px, 44px, 0);
    transform: skew(0.542deg);
  }
  15% {
    clip: rect(289px, 9999px, 318px, 0);
    transform: skew(0.552deg);
  }
  17.5% {
    clip: rect(468px, 9999px, 245px, 0);
    transform: skew(0.772deg);
  }
  20% {
    clip: rect(88px, 9999px, 469px, 0);
    transform: skew(0.002deg);
  }
  22.5% {
    clip: rect(451px, 9999px, 120px, 0);
    transform: skew(0.222deg);
  }
  25% {
    clip: rect(224px, 9999px, 458px, 0);
    transform: skew(0.664deg);
  }
  27.5% {
    clip: rect(178px, 9999px, 321px, 0);
    transform: skew(0.87deg);
  }
  30% {
    clip: rect(11px, 9999px, 29px, 0);
    transform: skew(0.596deg);
  }
  32.5% {
    clip: rect(85px, 9999px, 14px, 0);
    transform: skew(0.478deg);
  }
  35% {
    clip: rect(263px, 9999px, 30px, 0);
    transform: skew(0.722deg);
  }
  37.5% {
    clip: rect(52px, 9999px, 350px, 0);
    transform: skew(0.15deg);
  }
  40% {
    clip: rect(129px, 9999px, 398px, 0);
    transform: skew(0.576deg);
  }
  42.5% {
    clip: rect(99px, 9999px, 465px, 0);
    transform: skew(0.814deg);
  }
  45% {
    clip: rect(114px, 9999px, 405px, 0);
    transform: skew(0.838deg);
  }
  47.5% {
    clip: rect(370px, 9999px, 71px, 0);
    transform: skew(0.916deg);
  }
  50% {
    clip: rect(387px, 9999px, 69px, 0);
    transform: skew(0.876deg);
  }
  52.5% {
    clip: rect(224px, 9999px, 459px, 0);
    transform: skew(0.57deg);
  }
  55% {
    clip: rect(21px, 9999px, 202px, 0);
    transform: skew(0.532deg);
  }
  57.5% {
    clip: rect(196px, 9999px, 326px, 0);
    transform: skew(0.47deg);
  }
  60% {
    clip: rect(187px, 9999px, 127px, 0);
    transform: skew(0.842deg);
  }
  62.5% {
    clip: rect(119px, 9999px, 293px, 0);
    transform: skew(0.364deg);
  }
  65% {
    clip: rect(386px, 9999px, 143px, 0);
    transform: skew(0.938deg);
  }
  67.5% {
    clip: rect(265px, 9999px, 277px, 0);
    transform: skew(0.13deg);
  }
  70% {
    clip: rect(73px, 9999px, 293px, 0);
    transform: skew(0.048deg);
  }
  72.5% {
    clip: rect(55px, 9999px, 230px, 0);
    transform: skew(0.594deg);
  }
  75% {
    clip: rect(30px, 9999px, 5px, 0);
    transform: skew(0.804deg);
  }
  77.5% {
    clip: rect(26px, 9999px, 320px, 0);
    transform: skew(0.464deg);
  }
  80% {
    clip: rect(281px, 9999px, 190px, 0);
    transform: skew(0.662deg);
  }
  82.5% {
    clip: rect(203px, 9999px, 98px, 0);
    transform: skew(0.934deg);
  }
  85% {
    clip: rect(368px, 9999px, 355px, 0);
    transform: skew(0.026deg);
  }
  87.5% {
    clip: rect(308px, 9999px, 153px, 0);
    transform: skew(0.578deg);
  }
  90% {
    clip: rect(339px, 9999px, 373px, 0);
    transform: skew(0.686deg);
  }
  92.5% {
    clip: rect(316px, 9999px, 490px, 0);
    transform: skew(0.904deg);
  }
  95% {
    clip: rect(178px, 9999px, 109px, 0);
    transform: skew(0.2deg);
  }
  97.5% {
    clip: rect(201px, 9999px, 132px, 0);
    transform: skew(0.65deg);
  }
}

@keyframes dzError2 {
  0% {
    clip: rect(39px, 9999px, 53px, 0);
    transform: skew(0.35deg);
  }
  2.5% {
    clip: rect(225px, 9999px, 142px, 0);
    transform: skew(0.358deg);
  }
  5% {
    clip: rect(62px, 9999px, 120px, 0);
    transform: skew(0.66deg);
  }
  7.5% {
    clip: rect(145px, 9999px, 391px, 0);
    transform: skew(0.69deg);
  }
  10% {
    clip: rect(432px, 9999px, 6px, 0);
    transform: skew(0.636deg);
  }
  12.5% {
    clip: rect(72px, 9999px, 354px, 0);
    transform: skew(0.386deg);
  }
  15% {
    clip: rect(53px, 9999px, 359px, 0);
    transform: skew(0.124deg);
  }
  17.5% {
    clip: rect(403px, 9999px, 435px, 0);
    transform: skew(0.684deg);
  }
  20% {
    clip: rect(87px, 9999px, 269px, 0);
    transform: skew(0.064deg);
  }
  22.5% {
    clip: rect(459px, 9999px, 92px, 0);
    transform: skew(0.942deg);
  }
  25% {
    clip: rect(184px, 9999px, 171px, 0);
    transform: skew(0.212deg);
  }
  27.5% {
    clip: rect(269px, 9999px, 74px, 0);
    transform: skew(0.568deg);
  }
  30% {
    clip: rect(124px, 9999px, 427px, 0);
    transform: skew(0.486deg);
  }
  32.5% {
    clip: rect(309px, 9999px, 31px, 0);
    transform: skew(0.468deg);
  }
  35% {
    clip: rect(367px, 9999px, 404px, 0);
    transform: skew(0.192deg);
  }
  37.5% {
    clip: rect(324px, 9999px, 362px, 0);
    transform: skew(0.616deg);
  }
  40% {
    clip: rect(312px, 9999px, 194px, 0);
    transform: skew(0.68deg);
  }
  42.5% {
    clip: rect(314px, 9999px, 242px, 0);
    transform: skew(0.8deg);
  }
  45% {
    clip: rect(455px, 9999px, 156px, 0);
    transform: skew(0.344deg);
  }
  47.5% {
    clip: rect(60px, 9999px, 382px, 0);
    transform: skew(0.088deg);
  }
  50% {
    clip: rect(161px, 9999px, 315px, 0);
    transform: skew(0.808deg);
  }
  52.5% {
    clip: rect(407px, 9999px, 77px, 0);
    transform: skew(0.954deg);
  }
  55% {
    clip: rect(485px, 9999px, 326px, 0);
    transform: skew(0.662deg);
  }
  57.5% {
    clip: rect(340px, 9999px, 115px, 0);
    transform: skew(0.178deg);
  }
  60% {
    clip: rect(477px, 9999px, 218px, 0);
    transform: skew(0.284deg);
  }
  62.5% {
    clip: rect(21px, 9999px, 357px, 0);
    transform: skew(0.3deg);
  }
  65% {
    clip: rect(35px, 9999px, 320px, 0);
    transform: skew(0.75deg);
  }
  67.5% {
    clip: rect(426px, 9999px, 490px, 0);
    transform: skew(0.922deg);
  }
  70% {
    clip: rect(80px, 9999px, 284px, 0);
    transform: skew(0.042deg);
  }
  72.5% {
    clip: rect(442px, 9999px, 360px, 0);
    transform: skew(0.368deg);
  }
  75% {
    clip: rect(21px, 9999px, 231px, 0);
    transform: skew(0.376deg);
  }
  77.5% {
    clip: rect(33px, 9999px, 225px, 0);
    transform: skew(0.898deg);
  }
  80% {
    clip: rect(106px, 9999px, 34px, 0);
    transform: skew(0.698deg);
  }
  82.5% {
    clip: rect(290px, 9999px, 396px, 0);
    transform: skew(0.394deg);
  }
  85% {
    clip: rect(145px, 9999px, 136px, 0);
    transform: skew(0.252deg);
  }
  87.5% {
    clip: rect(206px, 9999px, 459px, 0);
    transform: skew(0.286deg);
  }
  90% {
    clip: rect(285px, 9999px, 274px, 0);
    transform: skew(0.434deg);
  }
  92.5% {
    clip: rect(152px, 9999px, 202px, 0);
    transform: skew(0.226deg);
  }
  95% {
    clip: rect(359px, 9999px, 25px, 0);
    transform: skew(0.262deg);
  }
  97.5% {
    clip: rect(136px, 9999px, 439px, 0);
    transform: skew(0.91deg);
  }
}

@keyframes dzError {
  0% {
    transform: skew(3deg);
  }
  10% {
    transform: skew(-4deg);
  }
  20% {
    transform: skew(4deg);
  }
  30% {
    transform: skew(4deg);
  }
  40% {
    transform: skew(-2deg);
  }
  50% {
    transform: skew(5deg);
  }
  60% {
    transform: skew(5deg);
  }
  70% {
    transform: skew(-2deg);
  }
  80% {
    transform: skew(-2deg);
  }
  90% {
    transform: skew(5deg);
  }
}
